body {
  width: 800px;
  height: 100%;
  margin: auto;
  text-align: center;
  background-image: url(https://openclipart.org/image/2400px/svg_to_png/13778/alnilam-Stars-Pattern.png);
  background-attachment: fixed;
  background-position: center;
}

h1 {
  font-family: helvetica;
  background-color: blue;
  text-align: center;
  margin: auto;
  border: 5px solid #000000;
  border-radius: 14px;
  padding: 3px;
}

p {
  color: blue;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
}

.more-content {
  background-color: #00FF00;
}

.guess {
  background-color: white;
  font: #000000;
  border-radius: 10px;
  border: 2px solid blue;
}

#something-else {
  border: 2px dashed #FF0000;
  background-color: yellow;
}

img {
  height: 135px;
  width: 185px;
  margin: auto;
  border: 3px solid #FFFFFF;
  border-radius: 20px;
}
