body {
  width: 800px;
  height: 100%;
  margin: auto;
  text-align: center;
  background-image: url(https://i.ytimg.com/vi/b6dT4kyVUuY/maxresdefault.jpg);
}

h1 {
  font-family: helvetica;
  background-color: blue;
  text-align: center;
  margin: auto;
  border: 5px solid #000000;
  border-radius: 14px;
  padding: 3px;
}

p {
  color: blue;
  border: 2px solid white;
  background-color: black;
  border-radius: 10px;
}

.more-content {
  background-color: #00FF00;
}

#something-else {
  border: 2px dashed #FF0000;
  background-color: yellow;
}
